@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
p {
  margin: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  font-size: 15px;
}
body {
  margin: 0;
  padding-bottom: 49px;
  background-image: url(https://github.com/Gevvorgi/grid_practic/blob/main/fond.jpg?raw=true);
  background-position: center center;
  background-size: cover;
  background-color: #492ba7;
  background-blend-mode: overlay;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #f4f7f6;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 53px 55px 86px 45px;
}
.logo {
  margin-right: 195px;
}
.menu__list {
  display: inline-block;
  margin-right: 50px;
  font-size: 1.7rem;
}
.search-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.search {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 32px;
  background: transparent;
  border: 2px solid #ffffff;
  font-size: inherit;
  color: inherit;
  padding-left: 40px;
}
.search:focus {
  outline: none;
}
.search-submit {
  position: absolute;
  top: 50%;
  left: 3%;
  text-align: center;
  margin-top: -7px;
  border: none;
  background: none;
}
.main-wrapper {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 0 55px 0 45px;
  position: relative;
  width: 100%;
}
.main-info {
  max-width: 51.25%;
  padding-top: 68px;
}
.main-info::after {
  content: url(fish-vector.svg);
  position: absolute;
  bottom: -18px;
  left: 0;
}
.title-container {
  margin-bottom: 24px;
  padding: 22px 0 28px 22px;
  border-left: 12px solid #e0672b;
  color: #ffffff;
}
.title {
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 50px;
}
.title-text {
  font-size: 2.3rem;
}
.text-container {
  max-width: 78.3%;
  padding-left: 36px;
  line-height: 18px;
}
.form-container {
  max-width: 43.13%;
  padding: 25px 41px 45px 27px;
  border: 2px solid #ffffff;
  position: relative;
}
.form-container::before {
  content: url(cross.svg);
  position: absolute;
  top: 0;
  right: -45px;
}
.form-container::after {
  content: url(cross.svg);
  position: absolute;
  bottom: 0;
  left: -60px;
}
.form {
  display: grid;
  gap: 0 18px;
}
.form__card {
  margin-bottom: 15px;
  grid-column: span 3;
}
.form__date {
  grid-column: span 1;
}
.form__center {
  grid-column: span 2;
}
.form__label {
  font-size: 1.3rem;
  color: #ffffff;
}
.form__input {
  display: block;
  width: 99%;
  height: 45px;
  margin-top: 12px;
  padding: 0 10px;
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 1.3rem;
  color: #ffffff;
}
.form__input:focus {
  outline: none;
}
.form__input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.btn {
  width: 167px;
  height: 36px;
  font-family: inherit;
  font-size: 1.6rem;
  color: #f4f7f6;
  text-transform: uppercase;
  background: #ff6721;
  border: none;
  cursor: pointer;
}
.form-container > .text {
  margin-bottom: 20px;
  font-size: 0.9rem;
  line-height: 16px;
}
@media (max-width: 1257px) {
  .nav {
    justify-content: flex-start;
  }
  .menu {
    padding: 10px 0;
  }
}
@media (max-width: 1085px) {
  .main-info::after {
    content: "";
  }
}
@media (max-width: 768px) {
  .nav {
    padding-bottom: 0;
  }
  .menu__list {
    margin-right: 30px;
  }
  .main-wrapper {
    flex-wrap: wrap;
  }
  .main-info,
  .form-container {
    max-width: 100%;
  }
  .text-container {
    padding: 0 30px;
    max-width: 100%;
  }
  .form-container::before {
    content: "";
  }
  .form-container::after {
    content: "";
  }
}
@media (max-width: 689px) {
  html {
    font-size: 10px;
  }
  .mobile-hidden {
    display: none;
  }
  .nav {
    justify-content: center;
    padding: 30px 0 0;
  }
  .logo {
    margin-right: 0;
  }
  .main-info {
    padding-top: 45px;
  }
  .title-container {
    padding: 15px;
    margin-bottom: 15px;
  }
  .form-container {
    padding: 15px;
  }
  .form__input {
    margin-top: 0;
  }
}
@media (max-width: 456px) {
  .main-wrapper {
    padding: 0 15px;
  }
  .main-info {
    text-align: center;
  }
  .title-container {
    border: none;
    padding: 0;
  }
  .text-container {
    padding: 0;
  }
}
@media (min-width: 2290px) {
  html {
    font-size: 26px;
    line-height: normal;
  }
  .nav {
    justify-content: space-evenly;
  }
  .logo__img {
    height: 48px;
  }
  .search {
    min-height: 61px;
  }
  .search-submit {
    margin-top: -13px;
  }
  .search-submit img {
    width: 30px;
  }
  .title {
    line-height: normal;
  }
  .text-container,
  .form-container > .text {
    line-height: normal;
  }
  .form__card {
    margin-bottom: 40px;
  }
  .form__input {
    margin-top: 20px;
  }
  .btn {
    width: 262px;
    height: 60px;
  }
  .main-info::after {
    bottom: 5%;
  }
}
